:root {
    --white: #FFFFFF;
    --grey: #505050;
    --black: #141414;
    --dark-black: #0E0E0E;
    --hero-fallback-color: #92400E;

    font-family: "Source Sans 3", Verdana, Geneva, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    max-width: 615px;
}

time {
    text-transform: uppercase;
}

.grid {
    display: grid;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    padding: 1rem;

    justify-content: space-between;
    align-items: center;

    background-color: var(--white);
}

.header-icon-title-container {
    gap: 0.25rem;
}

.header-icon {
    width: 1rem;
    height: 1rem;

    align-self: center;
}

.header-title {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--dark-black);
}

.nav-list {
    gap: 1.5rem;

    list-style: none;

    font-size: 0.75rem;
    font-weight: 600;
    color: var(--black);
    text-transform: uppercase;
}

/* MAIN */

/* HERO */

.hero {
    min-height: 300px;

    padding: 1rem;

    background: var(--hero-fallback-color) url("../images/hero.png");
    background-size: cover;
    background-position: center bottom;

    color: var(--white);
    text-shadow: 0 0 1px var(--dark-black);

    justify-content: end;
    gap: 0.5rem;
}

.hero-time {
    font-size: 0.75rem;
}

.hero-title {
    line-height: 1.08;
}

.content {
    width: 90%;

    grid-template-columns: 1fr;

    margin: 3rem auto;

    gap: 2.5rem;
}

.blog {
    max-width: 400px;

    margin: auto;
}

.hidden-blog {
    display: none;
}

.blog-img {
    max-width: 400px;
    max-height: 235px;
    width: 100%;
    height: 55vw;

    margin-bottom: 0.875rem;

    object-fit: cover;
    object-position: left;
    border-radius: 3px;
}

.blog-time {
    font-size: 0.875rem;
    color: var(--dark-black);
}

.blog-title {
    color: var(--black);
}

.blog-text {
    color: var(--grey);
}

/* VIEW MORE */

.view-more-button {
    display: block;

    margin: 0 auto;
    margin-bottom: 2.5rem;

    border-bottom: 1px solid var(--dark-black);

    font-size: 1rem;
    font-weight: 700;
    color: var(--dark-black);
    text-align: center;
    line-height: 1;
}

/* FOOTER */

footer {
    height: 8em;

    background-color: #202020;
    color: var(--white);

    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) {
    .hero {
        background-position: center 85%;
    }
}

@media (min-width: 1000px) {

    header {
        padding: 1rem 3rem;
    }

    .header-icon {
        width: 1.5rem;
        height: 1.5rem;

        align-self: flex-start;
    }

    .header-title {
        font-size: 1.25rem;
    }

    .nav-list {
        font-size: 1rem;
    }

    .content {
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    }

    .hidden-blog {
        display: flex;
    }

    .hero {
        min-height: 485px;

        padding: 2rem;

        background-position: center 80%;
    }
}
